<p class="{{ border ? 'border' : '' }}">Product List contains {{ products.length }} products</p>
<p class="{{ productIsSelected ? 'selected' : '' }}">Selected product is: {{ productIsSelected ? selectedProduct.name : '' }}</p>
<table>
    <tr>
        <th>
            &nbsp;
        </th>
        <th>
            Product Code
        </th>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Price
        </th>
    </tr>
    <tr *ngFor="let product of products; let i = index" class="{{ (i % 2) == 0 ? 'odd' : 'even' }}" (mouseover)="selectProduct(i)" (mouseout)="deselectProduct()">
        <td>
            {{i + 1}}
        </td>
        <td>
            {{product.code}}
        </td>
        <td>
            {{product.name}}
        </td>
        <td>
            {{product.category}}
        </td>
        <td>
            {{product.price}}
        </td>
    </tr>
    <button (click)="toggleBorder()">Toggle Border</button>
</table>
